/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

/* Gotham Font face */
@font-face {
    font-family: 'Gotham';
    src: url('https://sarmazian-stg.mm-dev.agency/wp-content/themes/bb-theme-child/fonts/gotham/Gotham-Book.eot');
    src: url('https://sarmazian-stg.mm-dev.agency/wp-content/themes/bb-theme-child/fonts/gotham/Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('https://sarmazian-stg.mm-dev.agency/wp-content/themes/bb-theme-child/fonts/gotham/Gotham-Book.woff2') format('woff2'),
        url('https://sarmazian-stg.mm-dev.agency/wp-content/themes/bb-theme-child/fonts/gotham/Gotham-Book.woff') format('woff'),
        url('https://sarmazian-stg.mm-dev.agency/wp-content/themes/bb-theme-child/fonts/gotham/Gotham-Book.ttf') format('truetype'),
        url('https://sarmazian-stg.mm-dev.agency/wp-content/themes/bb-theme-child/fonts/gotham/Gotham-Book.svg#Gotham-Book') format('svg'),
		url('https://sarmazian-stg.mm-dev.agency/wp-content/themes/bb-theme-child/fonts/gotham/Gotham-Bold.woff2') format('woff2'),		
		url('https://sarmazian-stg.mm-dev.agency/wp-content/themes/bb-theme-child/fonts/gotham/Gotham-Bold.woff') format('woff'),
        url('https://sarmazian-stg.mm-dev.agency/wp-content/themes/bb-theme-child/fonts/gotham/Gotham-Bold.ttf') format('truetype'),
        url('https://sarmazian-stg.mm-dev.agency/wp-content/themes/bb-theme-child/fonts/gotham/Gotham-Bold.svg#Gotham-Bold') format('svg');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body, p {
  font-family: "Gotham", Poppins, sans-serif !important;
}
.fl-button, .uabb-button, .uabb-infobox-cta-link  {
  font-family: "Gotham", Poppins, sans-serif !important;
  font-weight: 700!important;	
  letter-spacing: 0.5px!important;			
}

/* Gotham Font face */

/* Home page image carasol css start here */
.uabb-image-carousel-item h6 {
   font-size: 14px;
   letter-spacing: 1px; 
}
.uabb-image-carousel-item p {
    margin-bottom: 0px!important;
    font-size: 14px;
    font-family: "Gotham", Poppins, sans-serif !important;
}
.uabb-image-carousel-item span {
    margin-bottom: 0px;
    font-size: 12px;
    font-family: "Gotham", Poppins, sans-serif !important;
}
h6.uabb-image-carousel-caption.uabb-image-carousel-caption-below {
    padding: 0px;
}
.uabb-image-carousel-item .uabb-image-carousel-content {
    margin-bottom: 12px;
}
/* Home page image carasol css end here*/
/* Home page css start here */
.fl-module-content .uabb-module-content .uabb-ultb3-info {
	background-color: #fff;
    display: inline-block;
    width: 70%;
}
.locationRow ul {
    padding: 0px!important;
    list-style: none;
}
.locationRow .uabb-infobox-text p, .storename {
    padding: 0px!important;
    margin: 0px!important;
    
}
.locationRow a, .locationRow a p {
    color: #000!important;    
}

.locationRow a:hover, .locationRow a:hover p {
    color: #0076BF!important;    
}
/* Home page css End here */

.text-icon  .fl-module-content .storename li .address::before{
    content: "\ea7d";
    font-family: 'Ultimate-Icons' !important;
    font-size: 1.3em;
    height: auto;
    margin-right: 8px;
    vertical-align: middle;
    width: auto;
}
.fl-page{
	width: auto;
}
header .fl-search-form-input-wrap form > div.show {
     position: relative;
}
header .fl-search-form-input-wrap form > div.show:after {
    content: "\f002";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    right: 20px;
    pointer-events: none;
	color: #0076BF;
	top: 12px;
}
.footer .menu li:first-child a {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Spartan, sans-serif;
    margin-bottom: 20px;
}
h1.fl-heading span.fl-heading-text,
div.fl-rich-text h1{
    text-transform: capitalize !important;
}
.text-icon .fl-module-content .fl-rich-text p{
    display:inline-block;
}
.fl-module-rich-text .fl-module-content ul.storename li .direction a{
    width: 200px; 
}
div.gform_wrapper .gfield_time_ampm select {
    max-width: 8rem!important;
    width: calc(5rem + 20px) !important;
    -webkit-appearance: none;
    background-image: url('https://sarmazian-stg.mm-dev.agency/wp-content/uploads/2022/02/drop-down-arrow.png');
    background-position: 91%;
    background-size: 8px;
    background-repeat: no-repeat;
    text-align: center;
    padding: 10px;
}
div.gform_wrapper.gf_browser_chrome .gfield_time_ampm select {
    max-width: 8rem!important;
}

footer .storename li .phone a span:before{
    font-size: 18px;
    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px;
}
footer .storename li .phone a span:before{
    font-size: 18px !important;
    margin-right: 14px;
}
footer .storename li .phone a span{
    font-size: 16px;
}
footer .fl-module-content .fl-rich-text .storename li .phone a span:hover{
    color: #fff;
}
footer .storename{
    padding-left: 10px !important;
}
footer .fa-phone-alt{
    display: none;
}
.fl-module-content .storename li .address a{
    color:#000;
}
.fl-module-content .storename li .address a:hover{
    color: #0076BF;
}
.fl-module-content .fl-rich-text .message a:hover{
    color: #0076BF;
}

.store-opening-hrs-container ul.store-opening-hrs li{
padding: 10px 50% 10px 10px;
list-style: none;
}
div.text,
div.number{
    display: inline-block;
}
ul.social-icons {
    text-align: center;
}
.gform_wrapper .gfield_checkbox li input[type=checkbox]{
    margin-top: 0px !important;
}
footer .storename li .phone a:before{
    content: " ";
    display: none;
}
.footermenu li.menu-item a{
    font-size: 14px;
    line-height: 20px;
}
.uabb-infobox-button .uabb-creative-button-text ~ i.ua-icon-arrow-down:before{
    font-size: 0;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn{
  transition:all 0.3s;
  -moz-transition:all 0.3s;
  -webkit-transition:all 0.3s;
  -o-transition:all 0.3s;
  -ms-transition:all 0.3s;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn:hover{
    transition:all 0.3s;
    -moz-transition:all 0.3s;
    -webkit-transition:all 0.3s;
    -o-transition:all 0.3s;
    -ms-transition:all 0.3s;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn:hover i.ua-icon-arrow-down:before{
    font-size: 1em;
}


/* flyer css start here */
.changeLocation {
    position: absolute;
    top: 120px;
    width: 100%;
    max-width: 300px;
    height: 100vh;
    max-height: 550px;
    overflow: visible;
    background-color: #fff;
    color: #ffff;
    z-index: +6;
    -moz-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.15);
    transition: all 0.6s;
   
}
.changeLocation .content {
	overflow-y: auto;
    height: 100%;
}
#storeLocation:before {
	content: "";
	width: 0;
	height: 0;
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	border-bottom: 30px solid #0076bf;
	position: absolute;
	bottom: 100%;
	filter: drop-shadow(0 -2px 2px rgba(0,0,0,0.15));
	left: 50%;
	transform: translateX(-50%);
}

.content .title-prefix, .content .store-add{
	margin: 0px!important;
}
#storeLocation .content a{
	color: #000!important;
}	
#storeLocation .title-prefix, .header_store .store-cta-link .title-prefix{
	font-size: 16px!important;
    font-weight: 900!important;
	    font-family: "Poppins",sans-serif;
	text-transform: uppercase;

}
#storeLocation .store_wrapper p, 
#storeLocation .store_wrapper h5, 
#storeLocation .store_wrapper a{
	    font-family: "Poppins",sans-serif;
}
.content .store_wrapper {
padding: 30px 30px;
border-bottom: 1px solid rgba(204,204,204,0.28);
    margin: auto;
}

.changeLocation .closebtn{
	display: none;
}
.changeLocation .closebtn:hover{

 color: #000;
}
.locationWrapFlyer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.locationWrapFlyer .icons > i {
    font-size: 34px;
    color: #d4da5f!important;
}

.locationWrapFlyer .icons {
    padding: 0px 12px 12px 12px;
}

.locationWrapFlyer .contentFlyer > p, .contentFlyer  h3 {margin: 0px;}

.locationWrapFlyer .contentFlyer h3 {
    font-size: 18px;
    font-weight: 900;
}
.locationWrapFlyer a#openFlyer {
    font-size: 12px;
	    font-style: normal;
	color: rgb(255 255 255 / 0.9)!important;
}
.contentFlyer *{
	font-family: Poppins, sans-serif;
}   
.contentFlyer .storeLink a {
	font-size: 12px!important;
	font-family: Poppins, sans-serif!important;
}
#storeLocation .store_wrapper.active .myStore {
    font-weight: 700;
}
#storeLocation .store_wrapper.active .choose_location {
    display: none;
}
#storeLocation .store_wrapper.active  * {
   filter: drop-shadow(0px 0px 100px #000);
}
  
/* Flyer css start here */
#storeLocation{
	display: none;
}
.contentFlyer p{
	line-height: 0.9em;
	font-size: 10px!important;
	color: #000000!important;
    text-transform: capitalize;
}  
.contentFlyer > p {
    padding-bottom: 0px!important;
	color: #0076BF!important;
}  
.locationWrapFlyer .contentFlyer h3, #storeLocation .store_wrapper h5:first-child {
    color: #000;
    font-size: 12px;
    line-height: 1.3em;
	font-weight: 700;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 0px;
	font-family: Poppins, sans-serif!important;
}
.locationWrapFlyer .contentFlyer .mobile a{
    color: #000!important;
    font-family: "Spartan",sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3em;
	margin-top: 5px!important;
    display: inline-block;
    margin-bottom: 5px!important;
    
}
/* .locationWrapFlyer .contentFlyer .mobile:before {
    content:"\f095";
        display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #000;
    margin-right: 5px;
} */
.locationWrapFlyer  .dropIcon:after {
     content:"\f078 ";
        display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #000;
    margin-left: 5px;
}
.locationWrapFlyer  .dropIcon {
    display: flex;
    align-items: flex-start;
    margin-top: -5px;
	margin-left: 5px;
}

.content .store-add{
	color: #000000;
    font-weight: 300;
    font-size: 12px;
    max-width: 220px;
}
.changeLocation .closebtn {
    position: absolute;
    top: 0;
    left: 15px;
    font-size: 50px;
    margin-left: 20px;
    font-weight: 100;
    color: #9b9b9b!important;
}
#storeLocation .store_wrapper a{
	font-size: 12px!important;
}
#storeLocation .store-hour{
	color: #000!important;
    font-family: "Spartan",sans-serif;
    font-weight: 700;
    font-size: 12px!important;
    text-transform: capitalize;
    margin-top: 10px;
}
#storeLocation .store-phone, #storeLocation .store-hour, #storeLocation .content .choose_location, #storeLocation .content .view_location {
     margin-bottom: 10px!important;
    display: block;
}

#storeLocation .store-phone a{
	color: #000!important;
    font-family: "Spartan",sans-serif;
    font-weight: 400;
    font-size: 12px!important;
    text-transform: capitalize;
}
#storeLocation .store-phone a:before{ 
    content:"\f095";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    color: #000;
    margin-right: 5px;
}
.content .choose_location:before{
	content: "\f054";
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    color: #000;
	margin-right: 4px!important;
    font-size: 14px;
}
.content .view_location:before{
	content: "\f041";
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    color: #000;
	margin-right: 4px!important;
    font-size: 14px;
}
#storeLocation .store_wrapper *, #storeLocation a:before, #storeLocation p > a, #storeLocation .store-phone a, #storeLocation .content a{
    color: #fff!important;
}
#storeLocation .store_wrapper .store-add {
    margin-top: 10px!important;
    font-weight: 600; 
}
#storeLocation .store_wrapper {
    background-color: rgba(0, 118, 191, 1);
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
	background-size: cover;
}
#storeLocation .store_wrapper.Guelph {
	background-image: url(./include/guelph.jpg);
}
#storeLocation .store_wrapper.Waterloo {
	background-image: url(./include/waterloo.jpg);
}
#storeLocation .store_wrapper.Cambridge {
	background-image: url(./include/cambridge.jpg);
}
.changeLocation .content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%) !important;
}
.changeLocation .content::-webkit-scrollbar-thumb {
    background-color: #EA068C !important;
}
.changeLocation .content::-webkit-scrollbar {
    width: 0.7em !important;
}

/* Flyer css end here */

.moove-gdpr-button-holder > button.mgbutton  {
    background-color: #EA068C!important;
    color: #fff!important;
    border-radius: 0px!important;
    text-transform: capitalize!important;
    letter-spacing: 1px!important;
    font-weight: 700!important;
}
.moove-gdpr-button-holder > button.mgbutton:hover  {
    background-color: #0076BF!important;
    color: #fff!important;
    border-radius: 0px!important;
    font-weight: 700!important;
    text-transform: uppercase!important;
    letter-spacing: 1px!important;
}
@media (max-width:1024px){
	.locationCol .fl-col-content{
		padding: 0px 20px!important;	
	}
    .fl-page-header-logo-col ~ .fl-page-nav-col .fl-page-nav-wrap,
    .fl-page-nav-right.fl-page-header-fixed, .fl-page-header-fixed{
        display: none !important;
    }
    #responsive-menu-container div#responsive-menu-additional-content,
    #responsive-menu-container div#responsive-menu-search-box{
        padding: 5px 5%;
    }
    #responsive-menu-additional-content .storename li .phone a:before{
        margin-right: 5px !important;
    }
}
@media (max-width:768px){
	
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
        padding: 0;
    }
	.fl-row-content-wrap {
		text-align: center;
	}
	.fl-fade-in.fl-animated p,
	.uabb-gf-style .gform_wrapper .gform_footer{
		text-align: center !important;
	}
    .fl-page-header-logo{
        text-align: left;
    }
    .fl-page-header-primary .fl-logo-img {
        max-width: 80%;
    }
    .footer-menu .fl-col-small{
        width: 25% !important;
        float: left;
        clear: none;
    }
    ul#menu-copyright-bar-menu{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .copyright-sec-row .fl-col-small{
        width: 100%;
        text-align: center;
    }
    .copyright-sec-row .fl-col-small:first-child .fl-module-html .fl-module-content.fl-node-content{
        margin-top: 20px;
    }
    footer .fl-col-small .fl-module-icon .fl-icon-wrap .fl-icon-text-link {
        font-size: 14px;
    }
    footer .fl-col-small .fl-module-icon .fl-module-content.fl-node-content{
        margin: 0px 10px;
    } 
    footer .fl-icon-text{
        padding-left: 0px;
    }
    footer .fl-col-small .fl-module-icon .fl-icon-wrap span{
        padding-right: 15px;
    }
    /* footer .fl-col-small .fl-module-icon .fl-icon-wrap i{
        font-size: 25px;
    } */
    .d-block .fl-row-fixed-width  .fl-col-group-equal-height{
        display: block;
    }
    .fl-builder-content .fl-button i.fl-button-icon-after {
        margin-left: -8px;
    }
    .w-100{
        width: 100%;
    }
    .max-width-issue{
        max-width: 400px !important;
        margin: 0 auto !important;
        float: none;
    }
    .max-width-issue > .fl-col-content.fl-node-content{
        padding-left: 20px;
        padding-right: 20px;
    }
    .reversed .fl-col-group-responsive-reversed{
        display: flex;
        flex-direction: column-reverse;
        padding: 20px 0 0 0;
    }
    button#responsive-menu-button {
        top: 60px;
    }
    .uabb-photo__gallery-filters li{
        display: block;
    }
    .gform_wrapper .gfield_time_hour i{
        margin-top: 0% !important;
    }
    .rc-anchor-normal .rc-anchor-pt {
        right: 32px !important;
    }
    .rc-anchor-normal {
        width: 300px !important;
    }
    footer .storename{
        padding-left: 0 !important;
    }
    /* .fl-module-map .fl-map:not(.fl-map-auto-responsive-disabled){
        position: static !important;
    } */
	.max-width-issue > .fl-col-content.fl-node-content {
    padding-left: 0px;
    padding-right: 0px;
}
}
@media (max-width:767px){
    .footer-menu .fl-col-small{
        width: 100% !important;
    }

    .gform_wrapper.gf_browser_safari .gfield_time_ampm select {
        max-width: 10rem!important;
        width: calc(4rem + 20px) !important;
    }
}


@media screen and (max-width: 700px){
    button#responsive-menu-button.responsive-menu-accessible {
        top: 50px;
    }
}

@media screen and (max-width: 630px){
    button#responsive-menu-button.responsive-menu-accessible {
        top: 70px;
    }
}

@media screen and (max-width: 600px){

    ul#menu-copyright-bar-menu{
        flex-direction: column;
    }
    div.fl-module-photo-gallery .uabb-photo-gallery-item {
        width: 100%;
        height: 335px;
        margin-bottom: 20px;
    }
    .fl-builder-content div.our-services{
        width: 100% !important;
    }
    .fl-builder-content div.our-services .fl-col-content {
        border-right-width: 0px;
        border-bottom-width: 1px;
    }
}
@media screen and (max-width: 410px){
    button#responsive-menu-button.responsive-menu-accessible {
        width: 35px;
        height: 35px;
    }
    .fl-page-bar a *,
    .fl-page-bar .navbar-nav li>a{
        font-size: 11px;
    }
}
@media screen and (max-width: 378px){

    .fl-page-bar a *,
    .fl-page-bar .navbar-nav li>a{
        font-size: 10px;
    }
}
@media screen and (max-width: 374px){
    button#responsive-menu-button.responsive-menu-accessible{
        top: 10px;
    }
    .fl-page-bar{
       display: none;
    }
}